h1= title

div.scoreboard
  ul
    for score in scores
      li.score
        span.points= score.score
        span.name= score.name

div.todos
  h2 To Do
  ul.todos
    for todo in todos
      li.todo
        span.points(class='points-' + todo.points)= todo.points
        span.text= todo.text
        span.due Due #{todo.due}
        button.done Done
        ul.assigned-to
          for name in todo.assigned
            li= name

div.done
  h2 Done
  ul.done
    for todo in done
      li.done
        span.points(class='points-' + todo.points)= todo.points
        span.text= todo.text
        ul.assigned-to
          for name in todo.assigned
            li= name
