h1= title

div.scoreboard
  li.score.base(style='display:none;')
    span.points
    span.name

  ol.scores
    for score in scores
      li.score
        span.points= Math.round(score.score)
        span.name= score.name

div.add-task
  div.buttons
    button.add-task-form.plus.faded Add Task
    button.add-task.plus(style='display:none;') Add Task
    button.cancel.small.secondary(style='display:none;') Cancel

  div.form(style='display:none;')
    textarea(name='text', placeholder='To Do')
    input(name='due', placeholder='Due')
    label
      input(type='number', name='points', value=0, max=99)
      | points
    div.assigned-to
      input(class='assignee', placeholder='Assigned To')
      button.add-assignee.plus.faded Add Assignee

div.todos
  h2 To Do
  ul.todos
    li.todo.base(style='display:none;')
      span.points
      span.text
      span.due
      button.done Done
      ul.assigned-to

    for todo in todos
      li.todo
        span.points(class='points-' + todo.points)= todo.points
        span.text= todo.text
        span.due Due #{todo.due}
        button.done Done
        ul.assigned-to
          for name in todo.assigned
            li= name

div.done
  h2 Done
  ul.done
    li.done.base(style='display:none;')
      span.points
      span.text
      ul.assigned-to
      button.not-done.faded Not Done

    for todo in done
      li.done
        span.points(class='points-' + todo.points)= todo.points
        span.text= todo.text
        ul.assigned-to
          for name in todo.assigned
            li= name
        button.not-done.faded Not Done
